body {
	background: #262c33 url('../imgs/background-tile.png') top left;
}
#vis {
	display: table;
	margin: 0 auto;
}

#globe {
	fill: #000f19;
}
.land, .transaction {
	stroke-linecap: round;
  	stroke-linejoin: round;
  	vector-effect: non-scaling-stroke;
}

.land {
	fill: #445;
	stroke: #fff;
	stroke-width: 0.3px;
}

.transaction .arc {
	stroke: #abc700;
	stroke-width: 2.0px;
	fill: none;
}

.transaction {
	stroke-width: 2.0px;
	fill: none;
}

.arc {
	stroke: #abc700;
}

.shadow {
	stroke: #000;
	opacity: 0.2;
	stroke-width: 2.5px;
}

.arc-head {
	fill: #fff;
	fill-opacity: 0.7;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0.2;
}
