body {
	background-color: #333a45;
	font-family: "Lato", sans-serif;
}
#loading {
	color: #4991dc;
	font-size: 20px;
}
#vis {
	display: table;
	margin: 0 auto;
	padding: 0 0;
}
.logo {
	shape-rendering: crispEdges;
	font-size: 50px;
	font-weight: 400;
	stroke: none;
}
.logo .blue {
	fill: #4991dc;
}
.logo .green {
	fill: #2eb135;
}
.transaction-ct {
	font-weight: 100;
	font-size: 50px;
	stroke: none;
	fill: #f2f2f2;
}

.ct-label {
	fill: #2eb135;
	shape-rendering: crispEdges;
}
.map {
	stroke: none;
}

.globe {
	fill: #d1d9de;
}

.land, .transaction {
	stroke-linecap: round;
  	stroke-linejoin: round;
  	vector-effect: non-scaling-stroke;
}
.land {
	fill:  #f2f2f2;
	stroke: #d1d9de;
	stroke-width: 1.5px;
}

.arc, .shadow , .timeline-path {
	fill: none;
}

.shadow {
	stroke: #000;
	opacity: 0.2;
}

.arc-head {
	stroke: none;
}

.graticule {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

.timeline-axis path, .tick line {
	fill: none;
	stroke: #d1d9de;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}
.timeline-axis text {
	shape-rendering: crispEdges;
	fill: #d1d9de;
	font-size: 12px;
}
.timeline-bar {
	stroke: #333a45;
	stroke-width: 2px;
	shape-rendering: crispEdges;
	fill: #4991dc;
}
rect.bar-ct-label-bg {
	fill: #4991dc;
	opacity: 0.3;
}
.timeline-curr {
	fill: #2eb135;
}
.timeline-hover {
	fill: #f2f2f2;
}
text.timeline-xlabel, text.timeline-ylabel {
	font-size: 15px;
	fill: #f2f2f2;
}
.bar-ct-label {
	stroke: none;
	font-size: 15px;
	fill: #f2f2f2;
}

.slider-container {

}

.slider-container text {
	shape-rendering: crispEdges;
	alignment-baseline: middle; 
	font-size: 15px;
	fill: #4991dc;
}

.slider-axis {
	fill: none;
	stroke: #4991dc;
	stroke-width: 2px;
	stroke-linecap: round;
}

.slider-handle {
	fill: #333a45;
	stroke: #4991dc;
	stroke-width: 2px;
	cursor: pointer;
}
text .label-val {
	fill: #f2f2f2;
}
