<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>WePay: About</title>
        {% endif %}
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="http://d3js.org/topojson.v1.min.js" type="text/javascript"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/about-lobby.css">
        <link rel="stylesheet" type="text/css" href="../static/css/map.css">
        <!-- Need the following to enable Lato font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
    </head>
    <body>    
        <div id="container">
            <div class="map-header">
                <div class="map-header-text">
                    We help <span class="green">power</span> the new <span class="green">economy</span>
                </div>
            </div>

            <div id="vis">            
                <div id="loading"><br>Loading ...</div>
            </div>

            <div class="map-footer">
                <div id="footer-label">Lorem Ipsum</div>
                <div id="footer-sublabel">Lorem Ipsum</div>
            </div>

        </div>
        <script src="../static/js/aboutpage.js" type="text/javascript"></script>
        <script src="../static/js/wepay/util.js" type="text/javascript"></script>
        <script src="../static/js/wepay/mapChart.js" type="text/javascript"></script>
        <script type="text/javascript">
            window.onload = function() {
                var dataFile       = "{{ datafile }}",
                    maxpauseMS     = parseInt( "{{ maxpause_ms }}" );

                if (dataFile.length) {
                    mapWithoutCounter(dataFile, maxpauseMS);
                
                } else { // error finding file
                    d3.select("#loading")
                        .html("<br>404: We're sorry, the specified data could not be located");
                }
            };
        </script>

    </body>
</html>





	    